@import "./variable.styl"
@import "./reset.styl"
@import './class.styl'
@import './fun.styl'

@font-face {
  font-family: 'iconfont';  /* project id 902963 */
  src: url('//at.alicdn.com/t/font_902963_4q6p2p52dqg.eot');
  src: url('//at.alicdn.com/t/font_902963_4q6p2p52dqg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_902963_4q6p2p52dqg.woff') format('woff'),
  url('//at.alicdn.com/t/font_902963_4q6p2p52dqg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_902963_4q6p2p52dqg.svg#iconfont') format('svg');
}
.iconfont 
  font-family: 'iconfont' !important
  font-size: 24px
  font-style: normal
  -webkit-font-soomthing: antialiased
  -moz-osx-font-soomthing grayscale

// <i class="iconfont">&#xed60;</i>

.pagePadding
  padding: 0 5px
