// 基础颜色
color255 = #ffffff
color0 = #000000
color1 = #e64340
color2 = rgb(0, 129, 215)
color3 = #999999
color4 = #ff7e28
color5 = #eaeaea
color6 = #f56c6c
// 背景元素
bg-color1 = #f2f2f2
bg-color2 = #fafafa
bg-color3 = #409eff
bg-color4 = #22d122

border-color1 = #e3e4e5

text_color = #409eff
light_color = #e3e4e6
err_color = #f56c6c
